venv/
env/

db.sqlite3

.idea/
*.iml

__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.sql
*.bak

.env
.env.local
.env.development
.env.production

docker-compose.override.yml
Docker.lock

.DS_Store
Thumbs.db

*.sqlite3

.gitignore